h2#titolInici {
	color: gray;
}

p#paragrafInici {
	display: inline;
	border: 3px dashed orange;
}

.imatgeInici {
	display: block;
	height: 300px;
	width: 300px;
}

.caixa_seccio {
	background-color: white;
	color: orange;
	border: 1px solid black;
}

.contenedor {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 100px;
}