h2#titolInici {
	color: gray;
}

p#paragrafInici {
	display: inline;
	border: 3px dashed orange;
}

.imatgeInici {
	display: block;
	height: 200px;
	width: 200px;
}

.contenedor {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 100px;
}

.caixa_seccio {
	text-align: center;
}

.contenedor_seccions {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 30px;
}

.imatge_seccio {
	height: 300px;
	width: 300px;
	display: block;
}